.btn-grid {
  margin-top: 15px;
  max-height: 50vh;
  overflow: scroll;
}
.btn-grid > .btn-col > .btn {
  display: block;
  flex-basis: 100%;
  width: 100%;
}
.btn-grid > .btn-col + .btn-col,
.btn-grid > .btn-col > .btn + .btn {
  margin-top: 15px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-grid > .btn-col + .btn-col {
    margin-top: 0;
  }
  .btn-grid > .btn-col > .btn {
    min-height: 4rem;
  }
}
